:root  {
	--constant8: 8;
}
html {
	background-image: url('../img/triangles.png');
	background-repeat: repeat;
}

body {
	color: var(--foreground-color);
	font-family: var(--main-font);
	font-size: 1.25rem;
	font-weight: bold;
}

a {
	color: var(--poisongreen-color);
}

a:visited {
	color: var(--purple-color);
}

h1,
h2,
h3,
img,
p,
ul {
	margin: 0;
}

#logo {
	content: url('/assets/img/logo_judgementdayevents.svg');
	max-height: 100%;
}

.align_items_center {
	align-items: center;
}

.background-color-black {
	background-color: var(--background-color);
}

.bombs {
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;	
}

.bomb {
	position: absolute;
	content: url('/assets/img/bomb.svg');
	max-height: 100%;
	height: 200px;
	z-index: -1;
	animation: animate 25s linear infinite;
	top: -225px;
	
	height: 188px;
	animation-delay: 0s;
	animation-duration: 15s;

}



.bombs li {
	display: block;
	list-style: none;	
	
}

.bombs li .bomb {
	left: 69;
	height: 81px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.bombs li:nth-child(1) .bomb{
	left: 255px;
	height: 188px;
	animation-delay: 0s;
	animation-duration: 15s;
}


.bombs li:nth-child(2) .bomb{
	left: 555px;
	height: 125px;
	animation-delay: 2s;
	animation-duration: 12s;
}

.bombs li:nth-child(3) .bomb{
	left: 813px;
	height: 225px;
	animation-delay: 24s;
	animation-duration: 18s;
}

.bombs li:nth-child(4)  .bomb{
	left: 1113px;
	height: 113px;
	animation-delay: 0s;
	animation-duration: 25s;
}

.bombs li:nth-child(5) .bomb{
	left: 1313px;
	height: 55px;
	animation-delay: 13s;
	animation-duration: 8s;
}

.bombs li:nth-child(6) .bomb{
	left: 1555px;
	height: 113px;
	animation-delay: 15s;
	animation-duration: 31s;
}

.bombs li:nth-child(7) .bomb{
	left: 1855%;
	height: 155px;
	animation-delay: 7s;
	animation-duration: 18s;
}



.flex {
	display: flex;
}

.flex_dir_column {
	flex-direction: column;
}

.flex_grow_auto {
	flex-grow: 1;
}


.height_100vh {
	height: 100vh;
}

.justify_center {
	justify-content: center;
}

.margin_bottom_1_25rem {
	margin-bottom: 1.25rem;
}

.margin_0_auto {
	margin: 0 auto;
}

.margin_left_right_auto {
	margin-left: auto;
	margin-right: auto;
}

.max_width_1024 {
	max-width: 1024px;
}

.max_width_max_content {
	max-width: max-content;
}

.min_height_100vh {
	min-height: 100vh;
}

.padding_1rem {
	padding: 1rem;
}

.top_left_50 {
	top: 50%;
	left: 50%;
}
.zindex3 {
	z-index: 3;
}

@keyframes animate {
	0% {
		top: -225px;		
	}

	50% {
		top: 123px;

	}

	100% {
		top: 1400px;
	}
}