<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  
   <main class="background-color-black position_absolute top_left_50 padding_1rem flex flex_dir_column align_items_center justify_center max_width_999px height_100vh">        
        {{ content }}
   </main>
   <div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    </div >
  
    
</body>
</html>
