<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="margin_0_auto max_width_1024">
	<main>
		{{ content }}
	</main>
	<div class="area background-color-poison">
		<ul class="bombs max_width_max_content background-color-purple">
			<li><div class="bomb"></div></li>
			<li><div class="bomb"></div></li>
			<li><div class="bomb"></div></li>
			<li><div class="bomb"></div></li>
			<li><div class="bomb"></div></li>
			<li><div class="bomb"></div></li>
			<li><div class="bomb"></div></li>
			<li><div class="bomb"></div></li>
            <li><div class="bomb"></div></li>
		</ul>
	</div>
</body>
</html>