<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="margin_0_auto max_width_1024">
  
   <main class="background-color-black">        
        {{ content }}
   </main>
   <div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    </div >
  
    
</body>
</html>
